*.egg
*.egg-info
*.pyc
*.npy
._*
homeworks/*.txt
docs/_build/*
*.pdf
Logs/*
data/star*.dat
data/*.dat
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.lof
paper/*.log
paper/*.gz
paper/*.toc
paper/*.lot
paper/*.out
paper/compare.tex
paper/fittingpoint.tex
paper/guesses.tex
paper/macros.tex